
.card {
    box-sizing: border-box;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid grey;
    cursor: pointer;
}

.card:hover {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .25);
}

.card span {
    color: grey;
    margin-bottom: 10px;
    font-size: 13px;
}

.card h2 {
    margin-bottom: 20px;
    text-transform: capitalize;
}
