.preloader {
    width: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.preloader__p {
    font-size: 45px;
    overflow: hidden;
    max-width: 6.5ch;
    animation: points .6s ease-out infinite;
}

@keyframes points {
    from {
        max-width: 6.5ch;
    }

    50% {
        max-width: 7.3ch;
    }

    to {
        max-width: 8ch;
    }

}
