.something-goes-wrong {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.something-goes-wrong h1 {
    font-size: 40px;
    margin-bottom: 30px;
    width: 100%;
    padding: 0 24px;
    box-sizing: border-box;
    text-align: center;
}

.something-goes-wrong img {
    width: 150px;
    margin-bottom: 30px;
}

.something-goes-wrong p {
    font-size: 26px;
    color: grey;
    margin-bottom: 30px;
}

.something-goes-wrong button {
    padding: 6px 12px;
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
    filter: brightness(.9);
    font-size: 24px;
    line-height: 30px;
}

.something-goes-wrong button:hover {
    filter: brightness(1);
}
