.wrapper {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.emptyWrapper{
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  //justify-content: center;
  align-items: center;
}
.empty{
  font-size: 30px;
  color: sandybrown;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.toHome{
  color: sandybrown;
  font-weight: bold;
  text-align: center;
  display: flex;
  align-items: center;
}
