a {
    color: #fff;
    color: #ffffff;
    color: rgb(0,233,255);
    color: rgba(0,0,0, 0.5);
    color: red;
    color: red;
    color: red;
    color: red;

    color: hsl(0, 10%, 50%);
    border:1px solid #0b2e13;
    box-shadow: 2px 3px 5px rgba(0,0,0,0.5) inset;

    font-size:50px;
    /*visibility: hidden;*/
    opacity: 0.4;

}
body, html {height: 100%;margin: 0px;}

#myid {
    fill: #3B0300;
}
.text3 {
    background: url('../img/3225191_app_instagram_logo_media_popular_icon.png');
    background-repeat: no-repeat;
  background-size: 50% 100%;
    background-position: center;
}

.text {

    border: 5px dotted #000;
    border-color: #0b2e13;
    border-bottom-color: #4d4943;
    border-top-style: solid;
    background: #0b2e13;
    background-clip:content-box;

overflow: hidden;
    border-radius: 50%;
}


