* {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: sans-serif;
  min-height: 100%;
  height: auto !important;
  position: relative;
  box-sizing: border-box;
  padding: 20px 0;

  a {
    text-decoration: none;
  }

  p {
    margin: 40px 0;
    font-size: 26px;
  }

  img {
    margin-top: 20px;
    border-radius: 10px;
  }

  button {
    width: fit-content;
    box-sizing: border-box;
    padding: 8px 12px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    filter: brightness(.9);
    margin: 15px;

    &:hover {
      filter: brightness(1);
    }
  }
}
