@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');



.picture {
    background: url("../img/3225191_app_instagram_logo_media_popular_icon.png") no-repeat;
    height: 100px;
    width: 100px;
    background-position: right top;
    background-size: cover;
}

.title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    align-items: flex-end;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    text-align: center;
    border: 1px dotted #0b2e13;
}

.header-menu {
    text-align: center;
    list-style: none;
}

.header-menu li{
    display: inline-block;
}
