@import '../../../../style/mixins';

.container {
  @include content-container;
  display: flex;
  justify-content: space-between;
}
.payMain {
  margin-top: 8rem;
  width: 72.6rem;
  height: 51.7rem;
}
.payTitle {
  @include muli-font-normal;
  position: relative;
  font-size: 24px;
  line-height: 48px;
  letter-spacing: 0.04em;
  color: #373F41;
  &::before {
    content: '';
    position: absolute;
    background: #373F41;
    transform: matrix(1, 0, 0, -1, 0, 0);
    width: 72.6rem;
    height: 0.1rem;
    top: 6rem
  }
}
.payCardBlock {
  @include payBlock;
  margin-top: 5.1rem;
  color: #373F41;
  &::before {
    content: '';
    position: absolute;
    background: #373F41;
    transform: matrix(1, 0, 0, -1, 0, 0);
    width: 72.6rem;
    height: 0.1rem;
    top: 14rem;
  }
}
.payCardBlockActive {
  background: #373F41;
  color: white;
}
.payCardTitle {
  font-size: 18px;
  line-height: 32px;
  margin-left: 4.52rem
}
.payCardIcon {
  margin-left: 26rem;
}
.payCashBloc {
  @include payBlock;
  margin-top: 6.1rem;
  color: #373F41;
  &::before {
    content: '';
    position: absolute;
    background: #373F41;
    transform: matrix(1, 0, 0, -1, 0, 0);
    width: 72.6rem;
    height: 0.1rem;
    top: 14rem;
  }
  &::after {
    content: url("img/Hands with money.svg");
    position: absolute;
    right: 2.5rem;
  }
}
.payCashBlocActive {
  background: #373F41;
  color: white;
}
.payBtn {
  @include muli-font-normal;
  margin-top: 5.1rem;
  font-size: 1.8rem;
  line-height: 4.8rem;
  letter-spacing: 0.04em;
  background: white;
  position: relative;
  padding-left: 2rem;
  color: #373F41;
}
.payBtn::before {
  content: url('img/VectorBig.svg');
  position: absolute;
  top: 0.1rem;
  left: 0.2rem;
}
.payIcon {
  margin-left: 2.5rem;
  cursor: pointer;
}
.payText {
  margin-left: 4.52rem;
}
.payTextTitle {
  @include muli-font-normal;
  font-size: 18px;
  line-height: 24px;
}
.payTextInfo {
  @include muli-font-normal;
  font-size: 14px;
  line-height: 24px;
  color: #A1ADB0;
}