.main-content {
    border: 20px solid grey;
    border-radius: 25px;
    display: grid;
    grid-auto-columns: 40% 30% 30%;
    grid-template-areas:    "item-1 item-2 item-3"
                            "item-4 item-2 item-3"
                            "item-4 item-2 item-3"
                            "item-4 item-5 item-3"
                            "item-4 item-5 item-7"
                            "item-4 item-6 item-7"
                            "item-4 item-6 item-7"
                            "item-4 item-6 item-7";
}
.item1 {
    grid-area: item-1;
}
.item2 {
    grid-area: item-2;
    background-color: #FF7B7B;
    position: relative;
}
.item3 {
    grid-area: item-3;
    background-image: url("../img/Rectangle5.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.item4 {
    grid-area: item-4;
   background-image: url("../img/Rectangle1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.item5 {
    grid-area: item-5;
    display: flex;
    justify-content: space-between;
    height: 225px;
}
.item6 {
    grid-area: item-6;
    background-image: url("../img/Rectangle8.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 428px;
    position: relative;
}
.item7 {
    grid-area: item-7;
    background: #FF7B7B;
}
.item1-info {
    display: flex;
    background-color: white;

}
.item1-info > li {
   height: 100%;
    align-items: center;
    padding: 46px 50px;
    list-style-type: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 30px;
    color: black;
    cursor: pointer;
}
.item1-info > li:hover {
    color: #FF0000;
}
.item2-text {
    font-weight: 700;
    font-size: 96px;
    line-height: 116px;
    color: white;
    margin-bottom: 29px;
    margin-left: 73px;
    margin-top: 86px;
}
.item2-text::before {
    content: "";
    position: absolute;
    width: 258px;
    height: 0;
    left: 200px;
    top: 136px;
    border: 6px solid #FFFFFF;
}
.item2-texts {
    font-weight: 700;
    font-size: 96px;
    line-height: 116px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 89px;
    margin-right: 150px;
}
.item3 {
    position: relative;
    height: 550px;
}
.item3::before {
    content: "COSMETICS";
    position: absolute;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    top: 480px;
    left: 48px;
    bottom: 45px;
}
.item5-img {
    padding: 46px 34px 47px;
}
h2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.03em;
    color: #000000;
    margin-top: 30px;
    margin-left: 38px;
}
.item5-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #737373;
    margin-top: 8px;
    margin-left: 38px;
}
.item5-texts {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #737373;
    margin-left: 38px;
    margin-top: 8px;
}
.item6::before {
    content: "PERFUMES & SCENTS";
    position: absolute;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    margin-top: 37px;
    margin-left: 40px;
}
.item7-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    margin: 153px 74px 16px 106px;
}
.item7-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    margin: 0 42px 50px 105px;
}