@import '../../../../style/mixins';

.container {
  @include content-container;
  display: flex;
  justify-content: space-between;
}
.summary {
  width: 37rem;
  margin-top: 8rem;
  margin-left: 8.4rem;
  background-color: #FFFFFF;
}
.summaryTitle {
  position: relative;
  @include muli-font-normal;
  font-size: 2.4rem;
  line-height: 4.8rem;
  letter-spacing: 0.04em;
  color: #373F41;
  margin-bottom: 2rem;
  &::before {
    content: '';
    position: absolute;
    background: #373F41;
    transform: matrix(1, 0, 0, -1, 0, 0);
    width: 37rem;
    height: 0.1rem;
    top: 6rem
  }
}
.summaryText {
  position: relative;
  @include muli-font-bold;
  font-size: 1.8rem;
  line-height: 4.8rem;
  letter-spacing: 0.04em;
  color: #373F41;
  &::after {
    content: url("img/Polygon.svg");
    position: absolute;
    top: 0.2rem;
    right: 0.1rem;
    cursor: pointer;
  }
}
.payInfo {
  border-top: 0.15rem solid #373F41;
  border-bottom: 0.15rem solid #373F41;
}
.subName {
  @include muli-font-normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 3.2rem;
  color: #373F41;
}
.total {
  @include muli-font-normal;
  @include total-size;
  margin-left: 26rem;
}
.deliv {
  @include muli-font-normal;
  @include total-size;
  margin-left: 26.9rem;
}
.taxes {
  @include muli-font-normal;
  @include total-size;
  margin-left: 30.5rem;
}
.totalName {
  @include muli-font-normal;
  @include sum-size;
  color: #373F41;
}
.sum {
  @include muli-font-normal;
  @include sum-size;
  color: #373F41;
  margin-left: 23rem;
}
.sumBtn {
  padding: 1.5rem 8.6rem;
  background: #373F41;
  box-shadow: 0rem 0.1rem 0.1rem rgba(0, 0, 0, 0.25);
  border-radius: 0.4rem;
  color: white;
  cursor: pointer;
  margin-top: 5rem;
  margin-left: 17rem;
}
