* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 24px;
    box-sizing: border-box;
}
button {
    padding: 10px;
    font-weight: bolder;
    color: #660066;
}

.card {
    width: calc(50% - 20px);
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid grey;
    margin: 10px;
}

p {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 5px;
}

ul {
    margin-top: 10px;
    margin-left: 25px;
}

li {
    font-size: 14px;
    line-height: 18px;
    color: grey;
    margin-bottom: 5px;
}

