.emailContainer {
  width: 90%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 5px 20px;
  margin: 20px auto;
  cursor: pointer;
  border-radius: 5px;
  position: relative;
  border: 1px solid lightgrey;

  &:hover {
    box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
  }

  span {
    font-size: 14px;
    color: grey;
    text-align: left;
  }

  h3 {
    font-size: 24px;
    font-weight: 800;
    margin: 5px 0 10px;
    text-align: left;
  }

  p {
    font-size: 14px;
    color: #20232a;
    text-align: left;
  }

  &:after {
    content: 'New';
    font-size: 16px;
    font-weight: 700;
    color: #ff0033;
    position: absolute;
    right: 30px;
    top: 10px;
  }
}

.isRead {
  h3 {
    font-weight: 500;
  }

  &:after {
    content: '';
  }
}
