.container {
    max-width: 1280px;
    margin: 0 auto;

}

body, html {
    height: 100%;
    margin: 0px;
}

.main-container {
    border: 1px solid #000;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 70%;
    grid-template-rows: 100px 1fr 100px;
    grid-template-areas:
    "header header"
    "aside main"
    "footer footer";

    align-items: stretch;
    justify-items: stretch;
}

.main-container > * {
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    grid-area: header;
}

.aside {
    grid-area: aside;
}

.main {
    grid-area: main;
}

.footer {
    grid-area: footer;
}