.alert-danger{
    background-color: red;
    text-align: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
}
.alert-success{
    background-color: #dddddd;
    text-align: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold
}