
.container {
  display: flex;
  flex-direction: column;
  text-align: center;

  .buttonGroup {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.modalFooter {
  padding: 0 20px 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    margin: 0 10px;
  }
}


