* {
    padding: 0;
    margin: 0;
}
body {
    color: white;
    background: #0b2e13;
}
header {
    width: 90%;
    padding: 20px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0d47a1;
    border-bottom: 2px solid black;
}
header span {
    font-size: 25px;
    font-weight: bold;
    color: wheat;
}
header nav a {
    color: gold;
    margin-right: 20px;
}
header nav a:hover {
    text-decoration: underline;
    color: #5fcf80;
}
header input {
    border: 1px solid black;
    border-radius: 5px;
    background: transparent;
    color: white;
    padding: 7px 10px;
}
header button {
    border: 0;
    background: red;
    color: #3B0300;
    padding: 6px 10px;
    border-radius: 3px;
    transition: transform 500ms ease;
    cursor: pointer;
}
header button:hover {
   background: #00b0ff;
    color: white;
}
main {
    margin-top: 50px;
    text-align: center;
}
main p {
    width: 350px;
    background: red;
    margin: 50px auto;
    border-radius: 10px;
    padding: 20px;
    color: #3B0300;
    line-height: 150%;
    font-weight: bold;
}