.borderButton {
    text-decoration: none;
    display: inline-block;
    padding: 20px 30px;
    margin: 20px 20px;
    position: relative;
    color: white;
    border: none;
    border-radius: 5px;
    background: none;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    box-shadow: 10px 5px 5px dimgray;
}

