input[type="email"]:invalid {
    border: 1px solid red;
}

.checkbox {
    opacity: 0;

}

.checkbox + label {
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 48px;
    height: 10px;
    background-size: 20px;
}

.checkbox:not(checked) + label {
    background-image: url("../img/9055239_bxs_checkbox_minus_icon.png");
}

.checkbox:checked + label {
    background-image: url("../img/9055095_bxs_checkbox_checked_icon.png");
}