
.img {
  width: 70px;
}
.cartToCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.productName {
  margin-top: 0;
  font-size: 14px;
  font-weight: bold;
}
.price {
  font-weight: bold;
}
.calc {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  &:hover {
    border: 1px solid #00000082;
  }
}

.increment,
.decrement {
  margin: 0 5px;
  &:hover {
    color: green;
    cursor: pointer;
  }
}
.value {
  margin: 2px;
}

.total {
  font-size: 18px;
}

.remove {
  color: rgba(9, 9, 9, 0.44);
  &:hover {
    color: rgba(255, 0, 0, 0.62);
    cursor: pointer;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkout {
  font-size: 25px;
  height: 50px;
  width: 200px;
}

.wrapper {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.favoritesEmpty {
  font-size: 30px;
  color: green;
  text-transform: uppercase;
}
.toHome {
  color: green;
  font-weight: bold;
  text-align: center;
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.modalFooter {
  padding: 0 20px 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    width: 100px;
    margin: 0 30px;
    .l {
      width: 100px;
      margin: 0 30px;
    }
  }
}

.totalValue {
  font-size: 30px;
  padding: 15px;
  background-color: lawngreen;
  border: 1px solid darkgreen;
}
