.notificationRoot {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  z-index: 101;
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 0 24px;
  background: #07ae88;
  transform: translateY(-60px);
  transition: transform .3s ease-out;

  p {
    color: #fff;
    text-align: center;
    font-size: 20px;
  }
}

.showed {
  transform: translateY(0);
}

.error {
  background: #b90e0a;
}

