
    body {
        width: 100%;
        height: 100%;
        font-family: sans-serif;
        font-weight: 700;
        color: #F1AD1D;
        background: url("../img/zvezdnoe-nebo.png");
        overflow: hidden;
    }
    .titles {
        position: absolute;
        width: 20em;
        height: 40em;
        bottom: 5px;
        left: 50%;
        margin-left: -10em;
        font-size: 450%;
        font-weight: bold;
        text-align: justify;
        overflow: hidden;
        transform-origin: 50% 93%;
        transform: perspective(600px) rotateX(30deg);
    }
    .title-content {
        position: absolute;
        top: 100%;
        animation: scroll 30s linear infinite;
    }
    .content-text-h1 {
        text-align: center;
        margin-bottom: 80px;
        font-weight: bolder;
        font-size: 100px;
        line-height: 60px;
    }
    .content-text-h2 {
        text-align: center;
        margin-bottom: 50px;
        font-weight: bolder;
        font-size: 80px;
        line-height: 60px;
    }
    .content-text-p {
        font-weight: bolder;
        font-size: 60px;
        line-height: 60px;
        margin-bottom: 40px;
    }
    .content-text-p2 {
        font-weight: bolder;
        font-size: 60px;
        line-height: 60px;
    }
    @keyframes scroll {
        0% {
         bottom: 100%;
        }
        100% {
            top: -100%;
        }
    }

