* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

h1 {
    width: 100%;
    text-align: center;
    font-size: 22px;
    color: gray;
    margin-bottom: 40px;
}
.container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 40px;
}

li {
    font-size: 20px;
    padding: 6px 12px;
    width: 150px;
    border: 1px solid grey;
    box-sizing: border-box;
    user-select: none;
}


.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80vw;
    margin: 20px auto;
}

.content-item {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.visible {
    display: flex;
}

.content-item img {
    height: 300px;
    margin-right: 30px;
}

.content-item p {
    font-size: 22px;
    line-height: 36px;
}

.active {
    background: green;
    border-radius: 1px solig  green;
    color: #fff
}