

body{
    background-color: floralwhite;
}


#slides{
    border: 5px solid orangered;
    width: 400px;
    height: 400px;
    margin-top: 200px;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
}
.carousel_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    /*transition: .5s ease;*/
}
.slide {
    width: 400px;
    height: 400px;
    position: relative;
    transition: .5s ease;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.image-to-show{
    position: absolute;
    width: 400px;
    height: 400px;
    opacity: 0;
    z-index: 1;

    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.showing{
    opacity: 1;
    z-index: 2;
}
.btn {
    padding-left: 800px;
}
.controls {
    border: 3px solid orangered;
    border-radius: 15px;
    width: 150px;
    height: 35px;
    font-weight: bold;
    background: yellow;
    color: orangered;
    cursor: pointer;
    margin-right: 30px;
    margin-top: 400px;
}
.control {
    border: 3px solid orangered;
    border-radius: 15px;
    width: 150px;
    height: 35px;
    font-weight: bold;
    background: yellow;
    color: orangered;
    cursor: pointer;
    margin-left: 30px;
    margin-top: 400px;
}