body {
  font-family: "Roboto", sans-serif;
}

.container {
  margin: 0 auto;
  width: 1059px;
}

.page-header {
  padding-top: 32px;
  text-align: center;
}

.header-menu {
  margin-bottom: 35px;
}

.header-menu-item {
  list-style: none;
  display: inline-block;
  margin-right: 65px;
}

.header-menu-link {
  color: #16a085;
  font-size: 18px;
  font-weight: 900;
}

.top-photo {
  height: 790px;
  width: 100%;
  margin-bottom: -4px;
}

.main-content {
  background-color: rgba(107, 104, 104, 0.2);
  text-align: center;
  padding: 54px 0 94px;
}

.content-section-title {
  color: #373737;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 34px;
}

.content-section-text {
  color: #373737;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  letter-spacing: 2.4px;
  margin-bottom: 35px;
}

.content-button-form {
  display: inline-block;
  border-radius: 3px;
  background-color: #16a085;
  padding: 20px 60px;
  text-transform: uppercase;
  color: white;
  font-size: 12px;
  font-weight: 700;
  font-family: "Gotham Rounded", sans-serif;
  text-decoration: none;
}

.main-footer {
  padding: 35px 10px;
}

.copyright-info {
  font-family: "Roboto", sans-serif;
  color: #373737;
  font-size: 18px;
  font-weight: 900;
  text-align: right;
}

#cookiesBanner {
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 33vh;
  background-color: #fff;
  transition: all 0.7s;
  opacity: 1;
}

#cookiesBanner.hidden {
  opacity: 0;
  z-index: -1;
}

:root {
  --body-color: red;
}

body {
  background-color: var(--body-color);
}

html[data-theme="dark"] {
  --body-color: blue;
}
