
body {
    display: flex;
    flex-direction: column;
}
.inp {
    outline: none;
    border:2px solid grey;
}
.data {
    outline: none;
    width: 180px;
    border-radius: 20px;
    margin-bottom: 10px;
}
.focus {
    border: 2px solid greenyellow;
}
.invalid {
    border: 2px solid red;
}
.valid {
    border: 2px solid black;
}
.color {
    color: limegreen;
}
button{
    border: 1px solid greenyellow;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    color: orangered;
}


