


body {

    --twitter-color: #50b7f5;
    --twitter-background: #e6ecf0;
}
.widgets {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
.widgets-container {
    margin-bottom: 20px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 750px;
    padding: 10px;
    background-color: #f5f8fa;
    border-radius: 20px;
}
div {
   margin-left: 60px;
    margin-bottom: 5px;
}
.widgets__container-title {
    font-weight:bold;
}
.widgets__container-text {
    font-weight: lighter;
   padding-left: 10px;
    text-align: center;
}
.widgets__container-icon {
    width: 25px;
    height: 25px;
    position: absolute;
    margin-top: 15px;
    right: 20px;
}
.widgets__container-img {
    width: 60px;
    height: 60px;
    border: 1px solid grey;
    border-radius: 100px;
}
.widgets__content {
    border: 1px solid grey;
    border-radius: 5px;
    margin-left: 60px;
}
.widgets__content-foto {
    width: 688px;
    height: 400px;
}
.widgets__content-text {
    display: flex;
     padding: 10px;
    text-align: center;
}
.widgets__section {
    padding-left: 30px;
    padding-top: 15px;
    display: flex;
    justify-content: space-around;
}
.btn {
    margin-top: 15px;
    margin-left: 350px;
    background-color: red;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    padding: 5px 20px;
}



