.modal {
    background-color: wheat;
  width: 300px;
  height: 300px;
  border: 2px solid black;
  margin-left: 800px;
}
.text {
  text-align: center;
  align-items: center;
  font-weight: bold;
  color: orangered;
}