.App {
  font-family: sans-serif;
}


.wrapper {
  width: 60%;
  display: flex;
  flex-direction: column;
  padding: 10px;
}


label {
  margin: 15px 0 5px;
  font-size: 16px;
  color: grey;
}

input, select {
  width: 100%;
  box-sizing: border-box;
  padding: 6px 10px;
  border-radius: 5px;
}

.post-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.card {
  width: 300px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 12px;
  border-radius: 4px;
  border: 1px solid rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
  margin: 10px;
  position: relative;
  font-family: sans-serif;
}

.card h3 {
  width: 100%;
  text-align: center;
  font-size: 22px;
  line-height: 27px;
  margin-top: 5px;
  margin-bottom: 20px;
}

.card p {
  color: gray;
}
