* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 24px;
    box-sizing: border-box;
}

.card {
    width: calc(50% - 20px);
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid grey;
    margin: 10px;
    position: relative;
}

p {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 5px;
}

ul {
    margin-top: 10px;
    margin-left: 25px;
}

li {
    font-size: 14px;
    line-height: 18px;
    color: grey;
    margin-bottom: 5px;
}



.preloader {
    display: block;
    width: 200px;
    position: absolute;
    top: 12%;
    left: 5%;
}
.preloader__p {
    font-size: 15px;
    overflow: hidden;
    max-width: 6.5ch;
    animation: points .6s ease-out infinite;
}

@keyframes points {
    from {
        max-width: 6.5ch;
    }

    50% {
        max-width: 7.3ch;
    }

    to {
        max-width: 8ch;
    }

}

