<header>
    <span>Node<em>&</em>Express</span>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About Us</a>
        <a href="/user/samuray">User</a>
    </nav>
    <form method="post" action="/check-user">
        <input type="text" name="username" placeholder="Name">
        <button type="submit">Search</button>
    </form>
</header>