* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
}
.container {
    width: 1170px;
    padding: 0 10px;
    margin: 0 auto;
}
.header {
    background-image: url(../img/foto.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 530px;
    padding-bottom: 130px;
    color: white;
}
.header-title {
    font-size: 48px;
    line-height: 59px;
    text-transform: uppercase;
}
.header-subtitle {
    font-size: 18px;
    line-height: 22px;
    margin-top: 16px;
    margin-bottom: 22px;
}
.header-slogan {
    text-transform: uppercase;
    font-size: 54px;
    line-height: 66px;
    background-color: rgba(0,0,0,0.5);
    padding-top: 38px;
    padding-bottom: 38px;
    padding-left: 31px;
}
.header-slogan-input {
    color: orange;
    border-right: 1px solid orange;
    padding: 38px 31px;
}

.navigation {
    border-bottom: 3px solid;
    color: #F1B128 ;
    padding-bottom: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 50px;
}
.navigation-title {
    color: #F1B128;
    font-size:28px;
}
.navigation-menu {
    display: flex;
    list-style: none;
    flex-basis: 60%;
}

.navigation-menu-item {
    margin-left: 69px;
}
.navigation-menu-item-link {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}
.navigation-menu-item-link:hover {
    color: orange;
}

.page {
    text-align: center;
}
.page-title {
    padding: 10px;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    text-transform: uppercase;
    color: #4D4943;
}
.page-text {
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    color: #4D4943;
    margin-bottom: 107px;
}


.info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.info-media {
    width: calc(100% / 2 - 15px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 22px;
}
.info-media-img {
    position: relative;
}
.info-media-img:first-child::before,
.info-media-img:nth-child(2)::before,
.info-media-img:nth-child(3)::before,
.info-media-img:nth-child(4)::before {
    content: "Consulting";
    position: absolute;
    font-size: 14px;
    top: 95px;
    left: 15px;
    color: white;
    padding: 14px 33px 14px 17px;
    display: inline-block;
    background: #333333;
}
.info-media-img:nth-child(2):before {
    content: "Photography";
}
.info-media-img:nth-child(3):before {
    content: " Web Design";
}
.info-media-img:nth-child(4):before {
    content: "Advertising" ;
}

.info-desc {
    width: calc(100% / 2 - 15px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.info-desc-title{
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    margin-bottom: 22px;
}
.info-desc-title>span{
    color:rgba(241, 173, 29, 1);
}
.info-desc-text {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 36px;
}
.info-desc-link {
    background: #F1AD1D;
    color: white;
    font-size: 14px;
    padding: 19px 27px;
}

.title-big {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    align-items: center;
    text-align: center;
    margin-bottom: 29px;
    margin-top: 100px;
}
.text-big {
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    margin-bottom: 60px;
}

 .hr {
    width: 60px;
    height: 5px;
    margin: 60px auto;
    top: 120px;
    background: #F1AD1D;
}
.team {
    display: grid;
    grid-template-columns: repeat( 6, 1fr);
    gap: 2px 2px;
    margin-bottom: 50px;
    background-size: cover;
}
.team-child {
    margin:0 1px ;
    position: relative;
}
.team-child:first-child::before,
.team-child:nth-child(2)::before,
.team-child:nth-child(3)::before,
.team-child:nth-child(4)::before,
.team-child:nth-child(5)::before,
.team-child:nth-child(6)::before,
.team-child:nth-child(7)::before,
.team-child:nth-child(8)::before,
.team-child:nth-child(9)::before,
.team-child:nth-child(10)::before,
.team-child:nth-child(11)::before,
.team-child:last-child::before {
    content: url("../img/Craig Macaulay.png");
    position: absolute;
    font-size: 14px;
    top: 110px;
    left: 15px;
    padding: 15px 54px 15px 17px;
    display: inline-block;
    background: linear-gradient(0deg, #333333, #333333), #111111;
}




.tabs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}
.tabs-item {
    position: relative;
    overflow: hidden;
}
.tabs-item-img {
    width:100%;
}
.tabs-item:hover .tabs-item-hover {
    bottom: 0;
    opacity: 1;
    background-color: #D4D4D4;
}
.but {
    padding: 10px 20px;
    background-color: #f3a183;
    border-radius: 5px;
    color: black;
    text-decoration: none;
}
.tabs-item-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    bottom:-100%;
    left: 0;
    transition: all 1s;
}

.posts {
    display: flex;
    flex-wrap: wrap;
    height: 1000px;
    row-gap: 30px;
    flex-direction: column;
}
.posts-item {
    border-bottom: 6px solid #333333;
    padding-bottom: 5px;
    width: 370px;
}
.posts-item-img > img {
    width: 100%;
}
.posts-item-header{
    display: flex;
    align-items: center;
}
.item-header-img {
    padding: 12px;
    background-color: #333333;
    margin-right: 8px;
}
.item-header-title {
    font-size:18px ;
    line-height: 22px;
    color: #333333;
    font-weight: bold;
}
.posts-item-text {
    font-size: 14px;
    line-height: 17px;
    color: #505050;
    border-bottom: 14px;
    margin-top: 15px;
    padding-bottom: 14px;
}
.posts-item-info {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.item-info-date {
. item-info-link font-size: 12 px;
    line-height: 18px;
    text-transform: uppercase;
    color: #828282;;
}
.item-info-link {
    text-decoration: none;
    text-transform: uppercase;
    color: #4e4e4e;
}

.speed {
    background-image: url("../img/speed.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 50px;
}
.speed-title {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 137px 592px 214px 592px;
    text-align: center;
    position: relative;
}
.speed-title::before {
    content: "";
    position: absolute;
    width: 62px;
    height: 5px;
    left: 50%;
    top: 225px;
    transform: translateX(-50%);
    background: linear-gradient(0deg, #F1AD1D, #F1AD1D), #F48E0B;
}
.speed-span {
    color: rgba(241, 173, 29, 1);
}

.companies {
    margin-top: 150px;
    margin-bottom: 150px;
    text-align: center;
}
.companies-title {
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    text-transform: uppercase;
    color: #333333;
    margin-bottom: 29px;
}
.companies-text {
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    color: #4D4943;
    position: relative;
    margin-bottom: 110px;
}
.companies-text::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 3px;
    left: 50%;
    transform: translateX(-50%);
    top: 100px;
    background: #F1AD1D;
}
.companies-image {
    display: flex;
    justify-content: space-between;
}

.forms {
    margin-bottom: 160px;
}
.forms-title {
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
    margin-bottom: 29px;
}
.forms-text {
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    color: #4D4943;
    margin-bottom: 100px;
    position: relative;
}
.forms-text::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 3px;
    left: 548px;
    top: 48px;
    background: #F1AD1D;
}
.forms-main {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.forms-aside {
    width: 60%;
}
.forms-aside__block {
    width: 383px;
    height: 59px;
    background: #333333;
    margin-bottom: 12px;
}
.block-text {
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    padding-top: 24px;
    padding-left: 17px;
}
span {
   color: rgba(241, 173, 29, 1);
}
.forms-aside__block-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    color: #505050;
    margin-bottom: 25px ;
}
input {
    padding: 21px 150px 13px 14px;
    margin-bottom: 19px;
    font-weight: 300;
    font-size: 14px;
    line-height: 12px;
    color: #505050;
}
.form-input {
    margin-right: 9px;
}
.form-textarea {
    width: 100%;
    font-weight: 300;
    font-size: 14px;
    line-height: 12px;
    color: #505050;
    padding: 21px 450px 153px 14px;
}
.reset {
    font-weight: 900;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 16px 40px;
    background: linear-gradient(0deg, #F1AD1D, #F1AD1D), #F48E0B;
    border: none;
    cursor: pointer;
}
.send {
    font-weight: 900;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 16px 42px;
    background: linear-gradient(0deg, #F1AD1D, #F1AD1D), #F48E0B;
    border: none;
    cursor: pointer;
}
.forms-aside__right-block {
    width: 249px;
    height: 59px;
    background: #333333;
    margin-bottom: 18px;
}
.right-block-text {
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    padding-top: 24px;
    padding-left: 17px;
}
.forms-aside__right-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    color: #505050;
    margin-bottom: 18px;
}
.forms-aside__right-info {
    display: flex;
    justify-content: left;
}
.wrapper {
    width: 39px;
    height: 35px;
    background: #333333;
    margin-bottom: 6px;
}
.forms-aside__right-info-img {
    padding-top: 12px;
    padding-left: 13px;
}
.forms-aside__right-info-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    color: #505050;
    margin-left: 11px;
}
.forms-aside__right-blocks {
    width: 249px;
    height: 59px;
    background: #333333;
    margin-top: 35px;
    margin-bottom: 35px;
}
.right-blocks-text {
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    padding-top: 21px;
    padding-left: 18px;
    margin-bottom: 26px;
}
.forms-aside__right-logo-block {
    display: flex;
}
.forms-aside__right-logo {
    width: 48px;
    height: 42px;
    background: linear-gradient(0deg, #F1AD1D, #F1AD1D), #FFFFFF;
    margin-right: 13px;
}
.forms-aside__right-logo-img {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    padding-top: 13px;
    padding-left: 15px;
}




.next-section {
    background-image: url("../img/bagr.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    margin-bottom: 150px;
}
.next-title {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 95px;
    padding-bottom: 126px;
    position: relative;
}
.next-title::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 3px;
    left: 50%;
    transform: translateX(-50%);
    top: 171px;

    background: #F1AD1D
}
.next-title-span {
    color: rgba(244, 142, 11, 1);
}
.next-button {
    border: 1px solid white;
    border-radius: 5px;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 91px;
    padding: 16px 54px;
    background: transparent;
    cursor: pointer;
}

.finish {
    background-color: #333333 ;
    text-align: center;
}
.finish-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    padding-top: 24px;
    padding-bottom: 24px;
}
.finish-title-span {
    color: rgba(241, 173, 29, 1);
}
.footer {
    text-align: center;
}
.footer-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    color: #333333;
    padding-top: 35px;
    padding-bottom: 37px;
}

