
body {
    background-color: #333333 ;
    font-family: sans-serif;
}
.container {
    width: 1460px;
    margin-right: auto;
    margin-left: auto;
}
.header {
    display: flex;
    justify-content: center;
    background-color: #333333;
    height: 90px;
}
.header-logo {
    width: 216px;
    margin-top: 46px;
    margin-right: 824px;
}
.header-tel {
    margin-top: 50px;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
}
.header-button {
    text-decoration: none;
    color: rgba(228, 181, 100, 1);
    border: 1px solid rgba(228, 181, 100, 1);
    padding: 10px 25px 10px 10px;
    margin-top: 40px;
    font-weight: 400;
    font-size: 18px;
    line-height: 40px;
}
.header-item {
    margin-top: 40px;
    margin-left: 52px;
}
.header-button-img {
    padding-right: 10px;
}


.main-title {
    margin-top: 120px;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: white;
}
.main-text {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: white;
    margin-top: 41px;
    margin-bottom: 41px;
}
.box {
    display: grid;
    grid-template-areas: "one two three";
    column-gap: 29px;
}
.one {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 467px;
    height: 468px;
    background-color: #634F2C;
    /*grid-area: one;*/
}
.text {
    color: white;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
}
.two {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 467px;
    height: 468px;
   background-color: #B4A385;
    /*grid-area: two;*/
}
.three {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 467px;
    height: 468px;
    background-color: #E4B564;
    /*grid-area: three;*/
}
.box-grid {
    margin-top: 25px;
    display: grid;
    grid-template-areas: "for five";
    column-gap: 30px;
}
.four {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 715px;
    height: 468px;
    background-color: #635A4A;
    /*grid-area: four;*/
}
.five {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 715px;
    height: 468px;
    background-color: #B08C4D;
    /*grid-area: five;*/
}
.main-title-two {
    margin-top: 160px;
    margin-bottom: 95px;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: white;
}

.box-two {
    display: flex;
    justify-content: space-between;
}
.figure-one-up {
    width: 467px;
    height: 313px;
    background-color: black;
}
.figure-one-up-text {
    color: white;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    padding-top: 44px;
    padding-left: 52px;
}
.figure-one-down {
    width: 467px;
    height: 560px;
    background: #1F1F1F;
    margin: 24px 0 192px 0;
}
.figure-one-down-text {
    color: white;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    padding-top: 56px;
    padding-left: 52px;
}
.figure-two-up {
    width: 467px;
    height: 439px;
    background: #242424;
}
.figure-two-up-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
    padding-top: 44px;
    padding-left: 51px;
}
.figure-two-down {
    width: 467px;
    height: 405px;
    background: #E4B564;
    margin-top: 33px;
}
.figure-two-down-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
    padding-top: 47px;
    padding-left: 52px;
}
.figure-three-up {
    width: 467px;
    height: 255px;
    background: #1F1F1F;
}
.figure-three-up-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
    padding-top: 44px;
    padding-left: 48px;
}
.figure-three-down {
    width: 467px;
    height: 313px;
    background: #0E0E0E
}
.figure-three-down-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
    padding-top: 44px;
    padding-left: 48px;
    margin-top: 26px;
}
.figure-three-downs {
    width: 467px;
    height: 277px;
    background: #0A0909;
}
.figure-three-downs-text {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
    padding-top: 44px;
    padding-left: 48px;
    margin-top: 26px;
}
.main-section-three {
    padding-top: 172px;
    background-color: black;
    margin-bottom: 239px;
}
.main-block {
    display: flex;
    justify-content: space-between;
}
.main-title-three {
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: white;
}
.main-button {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #E4B564;
    padding: 10px 29px;
    background-color: black;
    border: 1px solid #E4B564 ;
}

.box-three {
    margin-top: 72px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.b-one {
    width: 487px;
    height: 391px;
    background: rgba(99, 79, 44, 0.75);
    position: relative;
}
.b-one-hover {
    width: 487px;
    height: 391px;
    background: rgba(99, 79, 44, 1);
    position: absolute;
    display: none;
    top: -100%;
}
.b-one:hover .b-one-hover {
    top: 0;
    position: absolute;
    display: block;
}
.b-text {
    padding-top: 171px;
    padding-left: 151px;
}
.b-text-hover {
    padding-top: 120px;
    padding-left: 151px;
    margin-bottom: 30px;
}

.b-two {
    width: 486px;
    height: 391px;
    background: rgba(232, 210, 171, 0.75);
    position: relative;
}
.b-two:hover .b-two-hover {
    top: 0;
    position: absolute;
    display: block;
}
.b-two-img {
    padding-top: 135px;
    padding-left: 216px;
}
.b-two-image {
    display: flex;
    padding-top: 3px;
    padding-left: 173px;
    padding-bottom: 135px;
}
.b-two-hover {
    display: none;
    width: 486px;
    height: 391px;
    background: rgba(232, 210, 171, 1);
    top: -100%;
}
.b-two-img-hover {
    padding-top: 61px;
    padding-left: 216px;
}

.b-two-image-hover {
    display: flex;
    padding-top: 3px;
    padding-left: 173px;
    padding-bottom: 17px;
}
.b-two-text {
    text-align: center;
    color: white;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
}
.b-three {
    width: 487px;
    height: 391px;
    background: rgba(228, 181, 100, 0.75);
    position: relative;
}
.b-three:hover .b-one-hover {
    top: 0;
    position: absolute;
    display: block;
}
.b-four {
    width: 487px;
    height: 391px;
    background: rgba(99, 90, 74, 0.75);
    position: relative;
}
.b-four:hover .b-one-hover {
    top: 0;
    position: absolute;
    display: block;
}
.b-five-text {
    padding-top: 169px;
    padding-left: 184px;
}
.b-five-text-hover {
    padding-top: 120px;
    padding-left: 180px;
    margin-bottom: 30px;
}
.b-five:hover .b-one-hover {
    top: 0;
    position: absolute;
    display: block;
}

.b-five {
    width: 486px;
    height: 391px;
    background: rgba(176, 140, 77, 0.75);
    position: relative;
}
.b-six {
    width: 487px;
    height: 391px;
    background: rgba(99, 79, 44, 0.75);
    position: relative;
}
.b-six:hover .b-one-hover {
    top: 0;
    position: absolute;
    display: block;
}
/*.b-one {*/
/*    width: 487px;*/
/*    height: 391px;*/
/*    background: #634F2C;*/
/*}*/
/*.b-text {*/
/*    padding-top: 171px;*/
/*    padding-left: 151px;*/
/*}*/
/*.b-two {*/
/*    width: 486px;*/
/*    height: 391px;*/
/*    background: rgba(232, 210, 171, 0.76);*/
/*}*/
/*.b-two-img {*/
/*    padding-top: 61px;*/
/*    padding-left: 216px;*/
/*}*/
/*.b-two-image {*/
/*    display: flex;*/
/*    padding-top: 3px;*/
/*    padding-left: 173px;*/
/*    padding-bottom: 17px;*/
/*}*/
/*.b-two-text {*/
/*    text-align: center;*/
/*    color: white;*/
/*    font-weight: 600;*/
/*    font-size: 22px;*/
/*    line-height: 28px;*/
/*}*/
/*.b-three {*/
/*    width: 487px;*/
/*    height: 391px;*/
/*    background: #E4B564;*/
/*}*/
/*.b-four {*/
/*    width: 487px;*/
/*    height: 391px;*/
/*    background: #635A4A;*/
/*}*/
/*.b-five-text {*/
/*    padding-top: 169px;*/
/*    padding-left: 184px;*/
/*}*/

/*.b-five {*/
/*    width: 486px;*/
/*    height: 391px;*/
/*    background: #B08C4D;*/
/*}*/
/*.b-six {*/
/*    width: 487px;*/
/*    height: 391px;*/
/*    background: #634F2C;*/
/*}*/