.container {
  display: flex;
  align-items: center;

  img {
    width: 30px;
    height: 30px;
    background-color: lightgrey;
    border-radius: 50%;
    margin-right: 10px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
  }

  span {
    color: white;
    font-size: 14px;
    font-weight: 400;
  }
}