
.navWrapper {
  position: fixed;
  background-color: #37474f;
  color: blue;
  transition: color 2s ease-in-out;

  .selected{
    color: green;
  }
  .nav__container {
    margin: 0 auto;

    max-width: 1100px;
    display: flex;

    .nav__logo {
      margin: 10px 0;
      display: flex;
      align-items: center;
      &:hover{
        cursor: pointer;
      }

      i {
        font-size: 50px;
        margin-right: 25px;
      }

      h1 {
        font-size: 40px;
        margin: 0;
        font-weight: bold;
      }
    }

    .nav__bar {
      width: 100%;
      margin: 0;
      list-style: none;
      display: flex;
      align-items: stretch;
      justify-content: flex-end;

      li {
        display: flex;
        align-items: center;
        padding: 0 20px;
        font-size: 23px;
        border-bottom: 2px solid transparent;
        color: #ffab40;
        transition: color 300ms ease-in-out,border-bottom 300ms ease-in-out;

        &:hover {
          cursor: pointer;
          color: #ff7d7d;
          background-color: #55616d;
          border-bottom: 2px solid #ff7d7d;
        }
      }

      i {
        margin-right: 10px;
      }
    }
  }
}

