* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    box-sizing: border-box;
    padding: 24px;
}

h1, h3 {
    width: 100%;
    text-align: center;
    margin: 40px 0 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 200px;
    padding: 10px;
}

.card img {
    width: 100%;
    aspect-ratio: 1;
    margin-bottom: 20px;
}

.card span {
    width: 100%;
    text-align: center;
    color: grey;
}
