.grid {
    width: 1000px;
    display: grid;
    /*grid-template-rows: 100px 100px 100px;*/
    grid-template-rows: 200px repeat(auto-fill, 100px);
    grid-template-columns: 100px 1fr 1fr;
    height: 100vh;
}

.grid-item {
    border: 1px solid #0b2e13;
}
.grid-item8 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end:  4;
}

.grid-item7 {
    /*grid-area: span 2 / span 2;*/
    grid-area: 2 / 2 / 4 / 4;
}
