.remove {
  color: rgba(9, 9, 9, 0.44);
  &:hover {
    color: rgba(255, 0, 0, 0.62);
    cursor: pointer;
  }
}

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.modalFooter {
  padding: 0 20px 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    width: 100px;
    margin: 0 30px;
    .l {
      width: 100px;
      margin: 0 30px;
    }
  }
}

.totalValue {
  width: max-content;
  font-size: 30px;
  padding: 15px;
  background-color: lawngreen;
  border: 1px solid darkgreen;
}
