.App {
  text-align: center;

  section {
    margin-top: 70px;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  input {
    margin-bottom: 15px !important;
  }
}