<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>Node Practice</title>
</head>
<body>
<%- include ('components/header') -%>
<main>
    <h1>Главная страница</h1>
    <p>Lorem bvbe fhivggriu bwifgqghqog qfgiqugqpogqggh!!!</p>
</main>
</body>
</html>