<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>User</title>
</head>
<body>
<%- include ('components/header') -%>
<main>
    <h1>Страница пользователя: <%= username %></h1>
    <% if (username.toLowerCase() === 'samuray') { %>
        <ul>
            <% hobbies.forEach((elem) => { %>
                <li><%= elem %></li>
            <% })%>
        </ul>
    <%}%>
</main>
</body>
</html>