* {
  margin: 0;
  padding: 0;
}

.App {
  font-family: sans-serif;
  min-height: 100%;
  height: auto !important;
  position: relative;
  box-sizing: border-box;
  padding-bottom: 100px;
}


// Post container

.posts-container-root {
  box-sizing: border-box;
  padding: 0 24px;
  width: 100%;
  margin-top: 100px;

  h1 {
    width: 100%;
    text-align: center;
  }
}

.posts-container {
  width: 100%;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 200px;
}


// Post

.post-root {
  box-sizing: border-box;
  padding: 12px;
  width: 90%;
  border-radius: 10px;
  border: 1px solid lightgrey;
  margin: 20px 0;
}
