h1 {
    display: inline-block;
}

.my-title::before {
    content: '😋';

    margin-top: 40px;
}

.my-title::first-line {

}

.my-title::selection {
    color: red;
}

a:link {
    color: #000;
}

a:visited {
    color: green;
}

a:hover {
    color: blue;
}

input:active, input:focus {

}
.my-list li:nth-child(3n) {
 color: red;
}
/*li:not(.my-list li:nth-child(3)) {*/
/*    color: red;*/
/*}*/

/*.my-list li:first-child a{*/
/*    color: red;*/
/*}*/

/*.my-list li:nth-last-child(2){*/
/*    color: red;*/
/*}*/

/*.my-list li:first-of-type {*/
/*    color: red;*/
/*}*/

/*.my-list li:nth-of-type {*/
/*    color: red;*/
/*}*/

/*input:required {*/
/*    border:1px solid red;*/
/*}*/