* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    padding: 24px;
    box-sizing: border-box;
}

h1 {
    font-size: 28px;
    line-height: 32px;
}

ul {
    box-sizing: border-box;
    padding: 10px;
}

li a {
    display: block;
    font-size: 18px;
    box-sizing: border-box;
    padding: 10px 0;
    text-decoration: none;
    color: #0f0f0f;
}

li a:hover {
    color: #0072b2;
}


button {
    padding: 6px 12px;
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
    filter: brightness(.9);
    font-size: 16px;
    line-height: 20px;
}

button:hover {
    filter: brightness(1);
}
