* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3B5998;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    padding: 0 24px;
    position: fixed;
    top: 0;
    left: 0;
}

ul {
    list-style: none;
    display: flex;
}

li {
    margin: 0 10px;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 24px;
    margin-top: 50px;
    width: 100%;
    min-height: calc(100vw - 55px);
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    padding: 24px;
}

article {
    display: flex;
    flex-direction: column;
}

h1, h2 {
    margin: 15px 0 30px;
}

p {
    margin: 10px 0;
    font-size: 14px;
    color: grey;
}

img {
    max-width: 450px;
    width: 100%;
    margin-bottom: 20px;
}