
body {
    background: #EBF0FF;
    font-family: sans-serif;
}
.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
    margin-top: 70px;
}
.header-img {
    width: 100px;
    margin-top: 10px;
    margin-bottom: 12px;
}
.header-item {
    display: flex;
    justify-content: space-between;

    list-style: none;
}
.header-item>li {
    margin-right: 45px;
    padding: 15px 0 12px 0;
    cursor: pointer;
}
.header-link {
    padding: 15px 20px 12px 20px;
    background-color: rgba(255, 210, 75, 1);
    border-radius: 25px;
    font-weight: bold;
    color: black;
    box-shadow: 0 10px 34px #EAC555;
}
.main {

}
.section-one {
    display: flex;
    justify-content: space-between;
    margin-bottom: 126px;
}
.main-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    color: #000000;
    margin-bottom: 64px;
}
.main-title-span {
    color : rgba(83, 128, 234, 1);
    position: relative;
}
.main-title-span::after {
    content: "";
    position: absolute;
    width: 121px;
    height: 8px;
    left: 0;
    top: 52px;
    border: 4px solid #5380EA;
    transform: rotate(-1.34deg);
    border-radius: 50%;
}

.main-content__info {
    background-color: white;
    width: 577px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    margin-bottom: 16px ;
}
.main-content__img {
    padding: 24px;
}
.main-content__text-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    padding: 24px 24px 10px 0;
}
.main-content__text-info {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #515151;
    padding-right: 24px;
}
.main-content__infofree {
    width: 577px;
    height: 73px;
    background: linear-gradient(180deg, #F6FBF8 0%, #F6FBF8 0.01%, rgba(246, 251, 248, 0) 100%);
    backdrop-filter: blur(4px);
    border-radius: 10px;
}
.main-image {
    background: url("../img/Investment.png"), url("../img/Group 80.png") center / cover no-repeat;
    width: 572px;
    height: 665px;
    margin-left: 14px;
    margin-top: 20px;
}
.section-two {
    display: flex;
    justify-content: space-between;
    margin-bottom: 112px;
    background: #F6FBF8;
    box-shadow: 0 34px 44px -20px rgba(185, 206, 234, 0.25);
    border-radius: 10px;
}
.section-two__content {
    background-color: #F6FBF8;
    width: 388px;
    display: flex;
    justify-content: space-between;
   margin: 24px;
}
.section-two-content__img {
    width: 64px;
    height: 64px;
    margin: 24px 24px 27px 24px;
}
.section-two-content__text-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-top: 24px;
    margin-bottom: 10px;
}
.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #000000;
   text-align: center;
    position: relative;
    margin-bottom: 27px;
}
.title::after {
    content: "";
    width: 204px;
    height: 8px;
    left: 500px;
    top: 41px;
    position: absolute;
    border: 4px solid #F0B80D;
    transform: rotate(1.34deg);
    border-radius: 50%;
}
.text {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #515151;
    margin-bottom: 24px;
}
.collage {
    display: flex;
    justify-content: center;
    position: relative;
}
.collage-img-one {
    width: 300px;
    height: 150px;
    margin-right: 56px;

}
.collage-img-two {
    width: 88px;
    height: 72px;
    margin-right: 56px;
    margin-top: 36px;
}
.collage-img-three {
    width: 300px;
    height: 98px;
    margin-top: 25px;
}
.collage::before {
    content: url("../img/left.png");
    position: absolute;
    width: 24px;
    height: 24px;
    left: 108px;
    top: 63px;
    cursor: pointer;
}
.collage:after {
    content: url("../img/right.png");
    position: absolute;
    width: 24px;
    height: 24px;
    right: 108px;
    top: 63px;
    cursor: pointer;
}
.section-three {
    display: flex;
    justify-content: space-between;
    margin-top: 112px;
}
.section-three__img {
    width: 505px;
    height: 575px;
    background: url("../img/Group 81.png") center / cover no-repeat;
}
span {
    color: #FF0000;
}
.section-three__form {
    width: 575px;
    height: 631px;
    background: #FFFFFF;
    box-shadow: 0 34px 44px -20px rgba(185, 206, 234, 0.25);
    border-radius: 10px;
}
.section-three__form-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #000000;
    margin-top: 48px;
    margin-left: 48px;
}
.section-three__form-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #515151;
    margin-top: 24px;
    margin-left: 48px;
    margin-bottom: 48px;
}
.form {
    display:flex;
    flex-direction: column;
    justify-content: center;
}
input {
    width: 479px;
    height: 51px;
    background: #F9FAFF;
    border: 1px solid #DEE6FF;
    border-radius: 5px;
    margin-left: 48px;
    margin-bottom: 24px;
    padding-left: 10px ;
}
label {
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-left: 48px;
    margin-bottom: 8px;
    font-weight: bold;
}
.button {
    background: #5380EA;
    border: 1px solid #5380EA;
    box-shadow: 0 10px 34px rgba(83, 128, 234, 0.5);
    border-radius: 40px;
    padding: 16px 72px;
    color: white;
    margin-left: 48px;
    margin-top: 24px;
    margin-bottom: 48px;
    width: 200px;
    height: 51px;
    cursor: pointer;
}
hr {
    border: 1px solid rgba(83, 128, 234, 0.6);
    margin-top: 105px;
}
.footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
    margin-top: 112px;
}
