.main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex: 1 0 auto;
}

.card {
  max-width: 255px;
  .img{
    padding: 0 20px;
  }
  .code {
    margin: 5px;
    padding-right: 20px;
    padding-top: 5px;
    font-size: 10px;
    font-weight: bold;
  }
  .card_content {

    .price {
      font-weight: bolder;
      margin: 5px 0;
    }
    .card_title{
      display: flex;
      align-items: flex-end;
    }
  }

}
.cardTitle {
  font-weight: bold;
  font-size: 16px;
  margin: 0;
}
.cardColor {
  color: black;
  font-weight: bold;
}

.favorite {
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    cursor: pointer;
  }

}

.favorite__icon, .favorite__icon_sel {
  font-size: 40px;
  color: green;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modalFooter {
  padding: 0 20px 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    width: 100px;
    margin: 0 30px;
    .l {
      width: 100px;
      margin: 0 30px;
    }

  }
}
.favorites {
  margin-top: 3px;
  margin-left: 3px;
}
path {
  fill: green;
}


