    body {
        background-image: url("../img/img.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin-left: auto;
        margin-right: auto;
        font-family:'Ubuntu', sans-serif;
        height: 100vh;
    }
    .header {
            display: flex;
            justify-content: space-between;
            background: rgba(0, 0, 0, 0.4);
             padding-left: 3%;
             padding-right: 3%;
    }
    .decor {
        text-decoration: none;
    }
    .header-item-title {
        font-size: 22px;
        line-height: 22px;
        font-weight: bold;
        color:white;
        padding-top: 18px;
        padding-bottom: 18px;
        /*padding-left: 79px;*/

    }
    .header-item-title:hover {
        color: rgba(60, 184, 120, 1);
        transition: 3s;

    }
    .header-item-title-2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
    }
    .header-icon {
        padding-right: 30px ;
        position: relative;
    }

    .header-icon-img-one {
        margin-right: 25px;
        color: white;
    }
    .header-icon-img-two {
        margin-right: 25px;
        color: white;
    }
    .header-icon-img-three {
        margin-right: 25px;
        color: white;
    }
    .header-icon-img-one:hover {
        content: url("../img/1 icon.svg");
        transition: 3s;
    }
    .header-icon-img-two:hover {
        content: url("../img/2 icon.svg");
        transition: 3s;
    }
    .header-icon-img-three:hover {
        width: 23px;
        height: 23px;
        content: url("../img/3 icon.svg");
        transition: 3s;
    }
    .header-icon::after {
        content: "";
        width: 1px;
        height: 19px;
        background: rgba(255, 255, 255, 0.9);
        position: absolute;
         margin-left: 8px;
        margin-top: 6px;
        mix-blend-mode: normal;
        opacity: 0.5;
    }
    .header-icon-text {
        padding-top: 22px;
        padding-bottom: 22px;
    }
    .header-icon-text-log {
        /*margin-right: 79px;*/
        /*padding-right: 2%;*/
        font-size: 14px;
        line-height: 14px;

    }
    .header-icon-text-link {
        text-decoration: none;
        color: white;
    }
    .header-icon-text-link:hover {
        color: rgba(60, 184, 120, 1);
        transition: 3s;
    }
    .main {
        width: 444px;
        margin: 75px auto ;
        background-color: white;
        box-shadow: 0 4px 18px rgba(0, 0, 0, 0.52);
        position: relative;
    }
    .main::before {
        content:"";
        position: absolute;
        width: 18px;
        height: 18px;
        background: #3CB878;
        margin-top: 29px;

    }

    .main-content-head {
        display: flex;
        justify-content: space-between;
        padding: 32px 60px 15px 60px;
    }
    .main-content-head-text {
        font-size: 20px;
        line-height: 20px;
        color: #434343;
    }
    .main-content-head-link {
        text-decoration: none;
        font-size: 14px;
        line-height: 14px;
        color: #3CB878;
    }
    .main-content-head-link:hover {
        color: #198754 ;
        transition: 3s;
        text-decoration: underline;
    }
    .main-button {
       display: flex;
        justify-content: space-between;

    }
    .button-one {
        width: 50%;
        height: 48px;
        background: #305DB8;
        border: none;
        margin-left: 60px;
        border-radius: 3px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        cursor: pointer;

    }
    .button-one-image {
     margin-top: 12px;
        margin-bottom: 12px;
     padding-right: 30px;

    }
    .button-one-text::before {
        content:"";
        position: absolute;
        width: 1px;
        height: 28px;
        background:#0A162F;
        margin-top: -5px;
        margin-left: -18px;
        mix-blend-mode: normal;
        opacity: 0.1;
    }
    .button-one-text {
        font-size: 16px;
        line-height: 16px;
        color: white;
       padding-right: 22px;
    }
    .button-two {
        width: 50%;
        height: 48px;
        background: #DF4A32;
        border: none;
        margin-right: 60px;
        margin-left: 4px;
        border-radius: 3px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        cursor: pointer;
    }
    .button-two-image {
    margin-top: 15px;
      padding-right: 15px;
        margin-bottom: 14px;
    }
    .button-two-text {
        font-size: 16px;
        line-height: 16px;
        color: white;
        padding-right: 27px;
    }
    .button-two-text::before {
        content:"";
        position: absolute;
        width: 1px;
        height: 28px;
        background: #2B0D09;
        mix-blend-mode: normal;
        opacity: 0.1;
        margin-top: -5px;
        margin-left: -18px;
    }
    .text {
        text-align: center;
        margin-top: 31px;
        font-size: 14px;
        line-height: 14px;
        color: #848484;
        position: relative;
    }
    .text::before {
        content: "";
        position: absolute;
        width: 35%;
        height: 0;
        border: 1px solid #F2F2F2;
        right:  52%;
        margin-top:6px;
        margin-right: 5px;
    }
    .text::after {
        content: "";
        position: absolute;
        width: 35%;
        height: 0;
        border: 1px solid #F2F2F2;
        margin-top: 6px;
        margin-left: 10px;

    }
    .form-content {
        display:flex;
        flex-direction: column;
         padding: 15px 60px 38px 50px;
        justify-content: center;
    }
    .field {
        border: 1px solid #edf2ef;
        background: #FFFFFF;
        border-radius: 4px;
        width: 100%;
        height: 46px;
        margin-bottom: 15px;
        padding-left: 10px;
    }
    .field:focus {
        /*transform: scale(1.1);*/
        box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
        outline:  none;
        border: none;
        color: black;
        font-weight: bold;
    }

    input[type="checkbox"]:checked,
    input[type="checkbox"]:not(:checked) {
        position: absolute;
        left: -9999px;
    }
    input[type="checkbox"]:checked + label,
    input[type="checkbox"]:not(:checked) + label {
        display: inline-block;
        position: relative;
        padding-left: 28px;
        line-height: 20px;
        cursor: pointer;
    }
    input[type="checkbox"]:checked + label:before,
    input[type="checkbox"]:not(:checked) + label:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 18px;
        height: 18px;
        border: 1px solid #dddddd;
        background-color: #ffffff;
        border-radius: 2px;
    }
    input[type="checkbox"]:checked + label:after,
    input[type="checkbox"]:not(:checked) + label:after {
        content: "";
        position: absolute;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }
    input[type="checkbox"]:checked + label:after,
    input[type="checkbox"]:not(:checked) + label:after {
        left: 1px;
        top: 4px;
        width: 15px;
        height: 6px;
        border-radius: 1px;
        border-left: 3px solid rgba(1, 129, 63, 1);
        border-bottom: 3px solid rgba(1, 129, 63, 1);
        /*-webkit-transform: rotate(-50deg);*/
        /*-moz-transform: rotate(-50deg);*/
        /*-o-transform: rotate(-50deg);*/
        /*-ms-transform: rotate(-55deg);*/
        transform: rotate(-55deg);
    }
    input[type="checkbox"]:not(:checked) + label:after {
     opacity: 0;
    }
    input[type="checkbox"]:checked + label:after {
    opacity: 1;
    }
    .check-text {
        font-size:14px;
        line-height:14px;
        color: #434343;
    }
    .check-text-link {
        color: rgba(60, 184, 120, 1);
        text-decoration: none;
    }
    .check-text-link:hover {
        color: rgba(1, 129, 63, 1) ;
        transition: 1s;
        text-decoration: underline;
    }
    .form-button {
        width: 100%;
        height: 46px;
        background: rgba(60, 184, 120, 0.8);
        border-radius: 4px;
        font-size: 16px;
        line-height: 16px;
        color: #FFFFFF;
        border: none;
        margin-top: 20px;
        cursor: pointer;
    }
    .form-button:hover {
        background-color: #198754;
        transition: 3s;
        box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    }
