.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;

  &__content {
    border: 1px solid black;
    max-width: 500px;
    background-color: white;
  }

  &__header {
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: green;
    span:hover {
      cursor: pointer;
      color: white;
    }
  }

  &__title {
    margin-right: 20px;
  }

  &__body {
    padding: 20px;

    .body__text {
      text-indent: 20px;
      text-align: justify;
    }
  }
}
