    * {
         margin: 0;
         padding: 0;
        box-sizing: border-box;
        font-family:sans-serif;
        text-align: center;
    }
   body {
        width: 1280px;
       height: 789px;
        margin: 0 auto;
    }
    .header-menu {
        height: 15px;
        margin: 32px 0;
        font-weight: bold;
    }
        .header-menu-item {
            display: inline-block;
            list-style: none;
           padding-left: 70px;
            padding-right: 70px;
            text-align: center;
        }
    .header-menu-item-link {
        text-decoration: none;
        color: red;
    }
    .container {
        width: 1280px;
        text-align: center;
    }
    .title {
        font-weight: bold;
        font-size:22px ;
        line-height:27px ;
        color: black;
        margin-top: 48px;
        margin-bottom: 38px;
        text-align: center;
    }
    .subtitle {
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 28px;
        text-align: center;
        padding: 0 150px;
        text-indent: 20px;
    }
    .button {
        padding:15px 30px;
        cursor: pointer;
        background: #FF0000;
        border-radius: 4px;
    }
    .text {
        font-size: 12px;
        line-height: 12px;
        color: white;
        margin: 85px 0;
    }
    .footer {
        text-align: right;
        font-weight: bold;
        padding-right: 200px;
        padding-bottom: 30px;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 2px;
    }

