@import "mixins";
@import "variables";


.footer {
  width: 100%;
  background: #000000;
  @include displayFlex;
  flex-flow: column wrap;
 @include text-align;
}
.footer__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 22px;
  color: #FEFEFE;
  @include text-align;
  padding-top: 66px;
}
.footer__text {
  font-size: 16px;
  line-height: 28px;
  color: $textColor;
  align-items: center;
 @include text-align;
  margin-top: 22px;
}
.footer__block {
  margin-top: 37px;
  width: 192px;
  height: 34px;
  mix-blend-mode: normal;
  opacity: 0.77;
  margin-left: auto;
  margin-right: auto;
}
.footer__icon {
  width: 34px;
  height: 34px;
}
.footer__text-info {
  font-size: 16px;
  line-height: 26px;
  color: $textColor;
  margin-bottom: 70px;
}