@import "variables";
@import "mixins";

.body {
  width:auto;
  height: auto;
  font-family: 'Roboto', sans-serif;
  background: #FFFFFF;
}
.container {
  @include size(1170px);
}
@media (max-width: $tablet) {
  .container {
    @include size(720px);
  }
}
@media (max-width: $mobile) {
  .container {
    @include size(320px);
  }
}