@import "mixins";
@import "variables";

.header {
  margin-top: 29px;
  padding-left: $paddingL;
  padding-right: $paddingR;
}
.header__menu {
  list-style-type: none;
 @include displayFlex;
  justify-content: space-around;
  margin-bottom:34px ;
  padding: 16px 179px;
}
.header__mobile-menu {
  list-style-type: none;
  margin-left: 69%;
  margin-top: -23px;
  position: absolute;
  @include display;
  width: 182px;
  height: 200px;
  background: #F5F5F5;
  padding-left: 10px;
}
.show{
  display: block;
}
.header__img-icon {
  @include display;
  width: 44px;
  height: 37px;
}
.header__img-icon.is-active {
  background: url("../img/menu-icon.png");
}
.header__item {
  font-size: 11px;
  line-height: 22px;
  font-weight: normal;
  height: 22px;
}
.header__link {
  text-decoration: none;
  color: #4E4E4E;
  &:hover {
    color: #57A4A4;
  }
}

.header__image {
  width: 100%;
}
@media (max-width: $tablet) {
  .header__menu {
   @include display;
    list-style-type: none;
  }
  .header__img-icon {
    display: block;
    margin-left: 93%;
    margin-top: 24px;
    margin-bottom: 25px;
    cursor: pointer;
  }
  .header__item{
    margin-bottom: 5px;
  }
}
@media (max-width: $mobile) {
  .header{
    margin-top: 1px;
  }
  .header__menu {
   @include display;
    list-style-type: none;
  }
  .header__mobile-menu {
    width: 170px;
    margin-left: 38%;
    margin-top: -25px;
  }
  .header__img-icon {
    display: block;
    margin-left: 85%;
    cursor: pointer;
  }
}