@import "mixins";
@import "variables";
$width: 98%;

.insta{
  background-color: #ebebeb;
  padding-left: $paddingL;
  padding-right: $paddingR;
}
.insta__info{
  @include displayFlex;
  justify-content: space-between;
  padding-bottom: 24px;
  padding-top: 47px;
}
.insta__title-info{
  @include insta(700, 16px,22px,uppercase,#4E4E4E)
}
.insta__text-info{
  @include insta(700, 13px,22px,uppercase,#4E4E4E)
}
.insta__images{
  padding-bottom: 49px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-evenly;
  column-gap: 10px;
  .one, .two,.three, .four {
    width: $width;
  }
}
@media (max-width: $tablet) {
  .insta__images{
    padding-bottom: 49px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
  }
  .one, .two,.three {
    width: $width;
  }
  .four{
    @include display;
  }
}
@media (max-width: $mobile) {
  .insta__images{
    padding-bottom: 49px;
    @include displayFlex;
    justify-content: center;
  }
  .two, .three, .insta__text-info {
    @include display;
  }
}