@mixin text-align {
  text-align: center
}
@mixin font-weight {
  font-weight: bold;
}
@mixin display {
  display: none;
}
@mixin displayFlex {
  display: flex;
}
@mixin size($max-width, $margin-left: auto, $margin-right: auto){
  max-width: $max-width;
  margin-left: $margin-left ;
  margin-right: $margin-right ;
}
@mixin insta($font-weight, $font-size, $line-height, $text-transform, $color){
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
  text-transform: $text-transform;
  color: $color ;
}