.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
}

.about-us__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;

    color: #333333;
}

.about-us__description {
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    align-items: center;
    text-align: center;

    color: #4d4943;
}

.about-us__content {
    display: flex;
}

.about-us__gallery {
    width: 50%;
    box-sizing: border-box;
}

.about-us__text {
    width: 50%;
}

.about-us__text-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    align-items: center;
    text-transform: uppercase;

    color: #333333;
}

.about-us__text-title span {
    color: rgba(241, 173, 29, 1);
}

.about-us__link {
    text-decoration: none;
    padding: 19px 27px;
    display: inline-block;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    align-items: center;
    color: #ffffff;
    background: #f1ad1d;
}

.about-us__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.about-us__text p {
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #505050;
}

.about-us__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
}

.about-us__list li {
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    padding: 95px 140px 11px 13px;
    width: 270px;
    list-style: none;
}

.about-us__list li span {
    display: block;
    padding: 14px 17px;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    align-items: center;
    color: #ffffff;
    background: #333333;
}

#consulting {
    background: no-repeat url("../img/img.png");
}

#web-design {
    background: no-repeat url("../img/img_1.png");
}

#photography {
    background: no-repeat url("../img/img_2.png");
}

#advertising {
    background: no-repeat url("../img/img_3.png");
}
