.header {
  background-color: orangered;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header__content {
  display: flex;
  align-items:center;
  justify-content: space-around;
}

.header__btn {
  border: 1px solid #fff;
  background-color: orangered;
  color: #fff;
  padding: 10px 5px;
  cursor: pointer;
  border-radius: 3px;

}

.header__btn:hover {
  box-shadow: 0px 0px 5px #fff;
}


