.css-modules {
  font-weight: bold;
  font-size: 24px;
  color: red;
}

.blue {
  color: blue;
}

:global .h2 {
  text-decoration: underline;
}

.selected {
  text-decoration: underline;
  text-transform: uppercase;
  color: #0dc5c1;
}