

body {
    width: 800px;
    margin-right: auto;
    margin-left: auto;
}
.wrapper {
    border: 20px solid grey;
    background-color: grey;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
    grid-template-areas: "item-1 item-1 item-2 item-2 item-2 item-3 item-4"
                            "item-5 item-6 item-6 item-6 item-6 item-7 item-7"
                            "item-5 item-6 item-6 item-6 item-6 item-7 item-7"
                            "item-8 item-6 item-6 item-6 item-6 item-9 item-10"
                            "item-8 item-6 item-6 item-6 item-6 item-9 item-10"
                            "item-8 item-11 item-11 item-12 item-12 item-24 item-24"
                            "item-13 item-11 item-11 item-23 item-23 item-14 item-14"
                            "item-13 item-15 item-15 item-16 item-16 item-14 item-14"
                            "item-13 item-15 item-15 item-17 item-17 item-18 item-18"
                            "item-19 item-20 item-20 item-21 item-22 item-18 item-18";
}
.item {
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.color-white {
    background-color: white;
}
.color-black {
    background-color: black;
    color: white;
}
.color-blue {
    background-color: blue;
}
.color-yellow {
    background-color: yellow;
}
.color-red {
    background-color: #FF0000;
}

.item_1 {
    grid-area: item-1;
}
.item_2 {
    grid-area: item-2;
}
.item_3 {
    grid-area: item-3;
}
.item_4 {
    grid-area: item-4;
}
.item_5 {
    grid-area: item-5;
}
.item_6 {
    grid-area: item-6;
}
.item_7 {
    grid-area: item-7;
}
.item_8 {
    grid-area: item-8;
}
.item_9 {
    grid-area: item-9;
}
.item_10 {
    grid-area: item-10;
}
.item_11 {
    grid-area: item-11;
}
.item_12 {
    grid-area: item-12;
}
.item_13 {
    grid-area: item-13;
}
.item_14 {
    grid-area: item-14;
}
.item_15 {
    grid-area: item-15;
}
.item_16 {
    grid-area: item-16;
}
.item_17 {
    grid-area: item-17;
}
.item_18 {
    grid-area: item-18;
}
.item_19 {
    grid-area: item-19;
}
.item_20 {
    grid-area: item-20;
}
.item_21 {
    grid-area: item-21;
}
.item_22 {
    grid-area: item-22;
}
.item_23 {
    grid-area: item-23;
}
.item_24 {
    grid-area: item-24;
}
