* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

form, .wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
    padding: 12px;
}

label {
    margin: 15px 0 5px;
    font-size: 14px;
    color: grey;
}

input, select {
    width: 100%;
    box-sizing: border-box;
    padding: 4px 8px;
    border-radius: 3px;
}

button {
    width: fit-content;
    box-sizing: border-box;
    padding: 7px 12px;
    cursor: pointer;
    filter: brightness(.9);
    margin: 10px 0;
    border-radius: 3px;
}

button:hover {
    filter: brightness(1);
}
